# Dependencias
node_modules/
**/node_modules/

# Producción
frontend/dist/
dist/

# Logs
*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
