@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-500: #A855F7;
  --color-primary-600: #9333EA;
  --color-secondary-500: #f05252;
}

@layer base {
  body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-black text-zinc-100;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-black tracking-tight;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
